$anms-saneago-primary: mat-palette($mat-blue, 700, 300, 800);
$anms-saneago-accent: mat-palette($mat-light-blue, 300);
$anms-saneago-warn: mat-palette($mat-red, 600);

$anms-saneago-theme: mat-light-theme(
  $anms-saneago-primary,
  $anms-saneago-accent,
  $anms-saneago-warn
);
